*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#wrapper {
  position: relative;
  margin-left: 10px;
  margin-top: 25px;
}

.branch {
  position: relative;
  margin-left: 230px;
}
.branch:before {
    content: "";
    width: 30px;
    border-top: 2px solid #caa57b;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
}

.entry {
  position: relative;
  min-height: 60px;
}
.entry:before {
  content: "";
  height: 100%;
  border-left: 2px solid #caa57b;
  position: absolute;
  left: -20px;
}
.entry:after {
  content: "";
  width: 20px;
  border-top: 2px solid #caa57b;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: 1px;
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid #caa57b;
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}
.entry.sole:before {
  display: none;
}
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}

.label {
  display: block;
  min-width: 140px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #b09372;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.pedigree {

	background-image: url('../img/old-paper.jpg');
	background-size: cover;
	
	/* Background image from: http://bashcorpo.deviantart.com/art/Grungy-paper-texture-v-5-22966998 */

    border-image-slice: 50 55 48 54 fill;
    border-image-width: 40px 40px 40px 40px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
	border-image-source: url('../img/ornamental-border2.png');
	
	/* Border image from: http://spiralpixel.com/photoshop_brushes/free-30-frames-borders-ps-brushes/ */
	
	background-color: #ceb496;
	min-height: 400px;
	padding: 35px;
}
.pedigree .label {
    color: black;
	text-align: left;
}

.lv2 {
    margin-left: 190px;
}
.lv1 {
    margin-left: 190px;
}